# Compiled source
*.exe
*.dll
*.o
*.obj
*.so
*.dylib

# Build directories
build/
Debug/
Release/
x64/
x86/

# IDE configs
.vscode/
.idea/

# Local demo repos
GitDemo/

# SFML DLLs (you can keep them locally but don’t track them in Git)
sfml-*.dll

# Misc
*.log
*.tmp
